@model IEnumerable<Paddle.Models.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.locname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_of_courts)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.locname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.no_of_courts)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.locid }) |
            @Html.ActionLink("Details", "Details", new { id=item.locid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.locid })
        </td>
    </tr>
}

</table>
